*{
    margin: 0;
    padding: 0;
}
input{
    border: none;
}
html{
    font-size: 1px;
}
.box{
    /* width: 100vw; */
    width: 100%;
    /* height: 800vh; */
    /* background-color: rgb(244, 238, 234); */
    justify-content: space-between;
    margin: auto;
   
}
.yuandd{
    transform: scale(1.6);
}
.box1{
    /* width: 100vw; */
    width: 100%;
    height: 3vw;
    background-color: #CEDCD5;
    text-align: center;
    line-height: 3vw;
    font-size: 1vw;
    font-family: myfonttt;
}
.tou{
    width: 100%;
    height:6vw;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    
}
.tou img{
  
    height: 4vw;
    margin-left: 10vw;
    margin-top: 1vw;
}
.tz2{
    width: 14.5vw;
    height: 100%;
    /* background-color: antiquewhite; */
    margin-right: 10vw;
    display: flex;
    
}
.tu1 img{
    width: 2.5vw;
    height: 2.5vw;
    /* background-color: #ffffff; */
    margin-left:2.3vw;
    margin-top: 2vw;

}
.xi{
    width: 100%;
    height: 50vw;
    /* background-color: aquamarine; */
}
.la{
    /* width: 100vw; */
    width: 100%;
    height: 4.5vw;
    background-color: #CEDCD5;
    justify-content: space-between;
    display: flex;
    font-family: myfonttt;
}
.laa{
    width: 80vw;
    height: 4.5vw;
    background-color: #CEDCD5;
    justify-content: space-between;
    display: flex;
    margin: auto;
    font-family: myfonttt;
}
.la1{
    width: 9%;
    height: 4.5vw;
    /* background-color: violet; */
    text-align: center;
    line-height: 4.5vw;
    font-size:1.1vw;
    font-family: myfonttt;
}
.la2{
    box-sizing: border-box;
    width: 9%;
    height: 4.5vw;
    /* line-height: 4.5vw; */
    /* background-color: violet; */
    text-align: center;
    /* line-height: 4.5vw; */
    padding-top: 0.5vw;
    font-size:1.1vw;
    font-family: myfonttt;
}
.la3{
    box-sizing: border-box;
    width: 9%;
    height: 4.5vw;
    line-height: 4.5vw;
    /* background-color: violet; */
    text-align: center;
    /* line-height: 4.5vw; */
    /* padding-top: 0.5vw; */
    font-size:1.1vw;
    font-family: myfonttt;
}

.sousuo{
    width: 80vw;
    height: 4.5vw;
    margin: auto;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 30px;
    display: flex;
    box-shadow: 0vw 0.4vw 0.5vw 0.1vw rgb(168, 167, 167);
    margin-top: 1.5vw;
}
.faj{
    width: 2.5vw;
    height: 2.5vw;
    /* background-color: #12633b; */
    margin-top: 1vw;
    /* border: 1px solid forestgreen; */
    margin-left: 2vw;
}
.faj img{

    width: 2.5vw;
    height: 2.5vw;   
    /* background-color: #12633b; */

}
input{
    width: 90%;
    height: 2.5vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    border: none;
}
.zu{
    width: 100%;
    height: 20vw;
    /* background-color: violet;   */
    display: flex;   
    justify-content: space-between;
    margin-top: 2.5vw;
}
.zu1{
    width: 47%;
    height: 20vw;
    overflow: hidden;
    /* background-color: #12633b; */
}
.zu1 img{
    width: 40vw;
    /* height: 20vw; */
    position: relative;
    top: -21vw;
}
.zu2{
    width: 47%;
    height: 20vw;
    overflow: hidden;
    /* background-color: rgb(193, 163, 193); */
}
.zu2 img{
    width: 40vw;
    position: relative;
    top: -5vw;
    left: -2vw;
}
.zuu{
    display: none;
}
.zzz{
    display: none;
}
.touu{
    display: none;
}
.ti{
    width: 80vw;
    /* background-color: rgba(250, 235, 215, 0); */
    /* height: 1000vh; */
    margin: auto; 
}
.zz{
    width: 100%;
    height: 4vw;
    /* background-color: #12633b; */
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: "myfont";
    src: url("./typography/new york/FontsFree-Net-NewYork.ttf");

}
.zz1,.zz2{
    font-size: 2.5vw;
    font-family: myfont;
}
.zz1{
    position: relative;
    margin-left: 26vw;
    position: relative;
    z-index: 1;
    top: -18vw;
}
.zz2{
    position: relative;
    margin-left: 26vw;
    position: relative;
    z-index: 1;
    top: -18vw;
}
.tzz{
    width: 15vw;
    height: 4vw;
    /* background-color: violet; */
    font-size: 2.5vw;
    font-family: myfont;
    margin: auto;
    text-align: center;
    line-height: 4vw;

}
.tzz1{
    width: 15vw;
    height: 4vw;
    /* background-color: violet; */
    font-size: 2.5vw;
    font-family: myfont;
    margin: auto;
    text-align: center;
    line-height: 4vw;
    margin-top: 7vw;
    margin-bottom: -5vw;
}
@font-face {
    font-family: "myfonttt";
    src: url("./typography/Montserrat/static/Montserrat-Regular.ttf");

}
@font-face {
    font-family: "myfontt";
    src: url("./typography/Montserrat/static/Montserrat-Bold.ttf");

}

.home{
    display: flex;
    margin-top: 5vw;
    font-family: myfonttt;
}
hr{
    margin-top: 2vw;
}
.homee{
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-left: 2vw;
    font-family: myfonttt;
    display:flex;

}
.home1{
    font-size: 2vw;
    font-family: myfonttt;
}
.home2{
    font-size: 2vw;
    font-family: myfonttt;
    color: #1587C8;
}
.home22{
    font-size: 3vw;
    font-family: myfontt;
    color: #000000;
}
.jacq{
    width: 100%;
    height: 11vw;
    background-color: #CEDCD5;
    margin-top: 3vw;
    position: relative;
}
.jacq1{
    width: 8vw;
    height: 8vw;
    /* background-color: #CEDCD5; */
    position: absolute;
    top: 2vw;
    left: 2vw;
}
.jacq1 img{
    width: 8vw;
    height: 8vw;
}
.jacq2{
    width: 8vw;
    height: 8vw;
    /* background-color: #CEDCD5; */
    position: absolute;
   
}
.move{
    position: absolute;
    left: 13vw;
    top: 2vw;
}
.move1{
    font-size: 2vw;
    font-family: myfonttt;
    color: #000000;
    font-weight: bolder;
}
.move2{
    font-size: 2vw;
    font-family: myfonttt;
    color: #000000;
    margin-top: 2vw;
}
.jacq3{
    width: 20vw;
    height: 4vw;
    /* background-color: #38a46e; */
    position: absolute;
    left: 60vw;
    top: 6.5vw;
    justify-content: space-between;
    display: flex;
}
.qty{
    font-size: 2vw;
    font-family: myfonttt;
    color: #000000;
}
.an{
    width: 50vw;
    height: 5vw;
    background-color: #ffffff;
    border-radius: 20vw;
    margin: auto;
    margin-top: 20vw;
    margin-bottom: 5vw;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-family: myfontt;
    text-align: center;
    line-height: 5vw;
    border: 1px solid black;
    cursor: pointer;
}
.sa{
    width: 100%;
    /* height: 5vw; */
    /* background-color: rgb(204, 133, 133); */
    display: flex;
    justify-content: space-between;
    /* margin-top: 2vw; */
}
.sa > .sa1,.sa2{
    font-size: 2vw;
    font-family: myfonttt;
    margin-top: 12vw;
}













.end{
    margin-top: 10vw;
    width: 100%;
    height: 90vw;
    background-color: #CEDCD5;
    /* border-bottom: 1px solid gray; */
    font-family: myfonttt;
    font-weight:500;
}
.enee{
    width: 100%;
    height: 5vw;
    background-color: #CEDCD5;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
}
.eee{
    width: 30vw;
    height: 5vw;
    font-size: 2vw;
    /* margin-left: 10vw; */
    /* background-color: #12633b; */
    text-align: center;
    margin-top: 1vw;
}
.et{
    width: 80%;
    height: 18vw;
    margin: auto;
    /* background-color: whitesmoke; */
}
.et img{
   
    height: 8vw;
    margin: auto;
    margin-left: 20vw;
    margin-top: 5vw;
}
.eez1{
    width: 80%;
    height: 4vw;
    /* background-color: violet; */
    margin: auto;
    font-size: 2vw;
}
.sl{
    width: 80%;
    height: 6vw;
    /* background-color: rgb(30, 22, 249); */
    margin: auto;
    display: flex;
}
.sizuo{
    width: 70%;
    height: 6vw;
    background-color: white;
}
.sizuo input{
    width: 100%;
    height: 5vw;
    font-size: 2vw;
    border: none;
}
.siyuo{
    width: 30%;
    height: 6vw;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
    line-height: 6vw;

}
.fu{
    width: 80%;
    height: 40vw;
    /* background-color: yellow; */
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.fua2{
    width: 80%;
    height: 20vw;
    /* background-color: yellow; */
    position: relative;
    margin: auto;
    display: flex;
    /* border-bottom: 1px solid gray; */

    /* justify-content: space-between; */
}
.fu1,.fu2,.fu3,.jq,.jqq{
   
    /* background-color: rgb(0, 229, 255); */
   
    border-left: 1px solid gray;
    margin-top: 3vw;
   
    padding-left: 1vw;
    font-family: myfonttt;
  
}
.fu1 h3{
    margin-bottom: 0vw;
}
.fu2 h3{
    margin-bottom: 1vw;
}
.fu3 h3{
    margin-bottom: 1vw;
}
.jd h3{
    margin-bottom: 1vw;
}
.fu1{
    width: 30%;
    height: 37vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 4vw;
}
.fu2{
    width: 30%;
    height: 31vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 3vw;
}
.fu3{
    width: 30%;
    height: 18vw;
    font-size: 1.5vw;
    font-family: myfonttt;
}
.jq{
    width: 30%;
    height: 14vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 2.5vw;
}
.jqq{
    width: 30%;
    height: 14vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 2.5vw;
    margin-left: 2vw;
}
.fua2 img{
    width: 17vw;
    position: relative;
    top: 8vw;
    left: 10vw;
}
