*{
    margin: 0;
    padding: 0;
}
input{
    border: none;
}
html{
    font-size: 1px;
}
a{
    text-decoration: none;
}
.box{
    /* width: 100vw; */
    width: 100%;
    /* height: 800vh; */
    /* background-color: rgb(244, 238, 234); */
    justify-content: space-between;
    margin: auto;
   
}
.yuandd{
    transform: scale(1.6);
}

.box1{
    /* width: 100vw; */
    width: 100%;
    height: 3vw;
    background-color: #CEDCD5;
    text-align: center;
    line-height: 3vw;
    font-size: 1vw;
    font-family: myfonttt;
}
.tou{
    width: 100%;
    height:6vw;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    
}
.tou img{
  
    height: 4vw;
    margin-left: 10vw;
    margin-top: 1vw;
}
.tz2{
    width: 14.5vw;
    height: 100%;
    /* background-color: antiquewhite; */
    margin-right: 10vw;
    display: flex;
    
}
.tu1 img{
    width: 2.5vw;
    height: 2.5vw;
    /* background-color: #ffffff; */
    margin-left:2.3vw;
    margin-top: 2vw;

}
.xi{
    width: 100%;
    height: 50vw;
    /* background-color: aquamarine; */
}

.la{
    /* width: 100vw; */
    width: 100%;
    height: 4.5vw;
    background-color: #CEDCD5;
    justify-content: space-between;
    display: flex;
}
.laa{
    width: 80vw;
    height: 4.5vw;
    background-color: #CEDCD5;
    justify-content: space-between;
    display: flex;
    margin: auto;
}
.la1{
    width: 9%;
    height: 4.5vw;
    /* background-color: violet; */
    text-align: center;
    line-height: 4.5vw;
    font-size:1.1vw;
    font-family: myfonttt;
}
.la2{
    box-sizing: border-box;
    width: 9%;
    height: 4.5vw;
    /* line-height: 4.5vw; */
    /* background-color: violet; */
    text-align: center;
    /* line-height: 4.5vw; */
    padding-top: 0.5vw;
    font-size:1.1vw;
    font-family: myfonttt;
}
.la3{
    box-sizing: border-box;
    width: 9%;
    height: 4.5vw;
    line-height: 4.5vw;
    /* background-color: violet; */
    text-align: center;
    /* line-height: 4.5vw; */
    /* padding-top: 0.5vw; */
    font-size:1.1vw;
    font-family: myfonttt;
}
.sousuo{
    width: 80vw;
    height: 4.5vw;
    margin: auto;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 30px;
    display: flex;
    box-shadow: 0vw 0.4vw 0.5vw 0.1vw rgb(168, 167, 167);
    margin-top: 1.5vw;
}   
.faj{
    width: 2.5vw;
    height: 2.5vw;
    /* background-color: #12633b; */
    margin-top: 1vw;
    /* border: 1px solid forestgreen; */
    margin-left: 2vw;
}
.faj img{

    width: 2.5vw;
    height: 2.5vw;   
    /* background-color: #12633b; */

}
input{
    width: 90%;
    height: 2.5vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    border: none;
}
.zu{
    width: 100%;
    height: 20vw;
    /* background-color: violet;   */
    display: flex;   
    justify-content: space-between;
    margin-top: 2.5vw;
 }
 .zu1{
    width: 47%;
    height: 20vw;
    overflow: hidden;
    /* background-color: #12633b; */
}
.zu1 img{
    width: 40vw;
    /* height: 20vw; */
    position: relative;
    top: -21vw;
}
.zu2{
    width: 47%;
    height: 20vw;
    overflow: hidden;
    /* background-color: rgb(193, 163, 193); */
}
.zu2 img{
    width: 40vw;
    position: relative;
    top: -5vw;
    left: -2vw;
}
.zuu{
    display: none;
}
.zzz{
    display: none;
}
.touu{
    display: none;
}
.ti{
    width: 80vw;
    /* background-color: rgba(250, 235, 215, 0); */
    /* height: 1000vh; */
    margin: auto; 
  }
.zz{
    width: 100%;
    height: 4vw;
    /* background-color: #12633b; */
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: "myfont";
    src: url("./typography/new york/FontsFree-Net-NewYork.ttf");

}
.zz1,.zz2{
    font-size: 2.5vw;
    font-family: myfont;
}
.zz1{
    position: relative;
    margin-left: 26vw;
    z-index: 1;
    top: -18vw;
}
.zz2{
    position: relative;
    margin-left: 26vw;
    z-index: 1;
    top: -18vw;
}
.tzz{
    width: 15vw;
    height: 4vw;
    /* background-color: violet; */
    font-size: 2.5vw;
    font-family: myfont;
    margin: auto;
    text-align: center;
    line-height: 4vw;
}
.tzz1{
    width: 15vw;
    height: 4vw;
    /* background-color: violet; */
    font-size: 2.5vw;
    font-family: myfont;
    margin: auto;
    text-align: center;
    line-height: 4vw;
    margin-top: 7vw;
    margin-bottom: -5vw;
}
.gz{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}
.gz8{
    width: 80vw;
    height: 35vw;
    /* display: flex; */
    justify-content: space-between;
    margin-top: 6vw;
    background-color: rgb(0, 0, 0,.2);
    background-size: 80vw 35vw;
   
}
.gz88{
    width: 80vw;
    height: 45vw;
    /* display: flex; */
    justify-content: space-between;
    margin-top: 6vw;
    background-color: rgb(0, 0, 0,.2);
    position: relative;
    background-size: 80vw 35vw;
   
}
.gz888{
    width: 80vw;
    height: 45vw;
    /* display: flex; */
    justify-content: space-between;
    margin-top: 6vw;
    /* background-color: rgb(0, 0, 0,.2); */
    position: relative;
    background-size: 80vw 35vw;
 
}
.gz88 img{
    width: 80vw;
    height: 45vw;
    position: absolute;
    z-index: -2;
   
}

.gz8 img{
    width: 80vw;
    height: 35vw;
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-top: 3vw; */
    position: relative;
    z-index: -1;
    /* justify-content: space-between; */
    /* background-color: #1587C8; */
}

@font-face {
    font-family: "myfonttt";
    src: url("./typography/Montserrat/static/Montserrat-Regular.ttf");

}

.bai1{
    width: 6vw;
    height: 6vw;
    /* background-color: rgb(145, 1, 145); */
    position: absolute;
    z-index: 2;
    font-size: 3vw;
    text-align: center;
    font-family: myfonttt;
    color: white;
    left: 3vw;
    top: 3vw;
}

.bai2{
    width: 80%;
    height: 5vw;
    /* background-color: rgb(53, 108, 80); */
    position: absolute;
    text-align: center;
    font-family: myfonttt;
    font-size: 4vw;
    color: white;
    z-index: 3;
    top: 16vw;
    left: 7vw;
   
}

.bai3{
    width: 20vw;
    height: 5vw;
    /* background-color: rgb(30, 22, 249); */
    position: absolute;
    z-index: 4;
    background-color: #FFFFFF;
    font-family: myfonttt;
    font-size: 2.5vw;
    text-align: center;
    line-height: 5vw;
    color: black;
    top: 35vw;
    left: 30vw;
    
}

.hz1{
    width: 2vw;
    height: 2vw;
    /* background-color: #1587C8; */
    position: relative;
    z-index: 2;
}

.gz1,.gz2{
    width: 47%;
    height: 45vw;
    overflow: hidden;
    /* background-color: #12633b; */
    border: 1px solid gray;
}

.gzg1{
    /* width: 4vw;
    height: 4vw;
    background-color: #122263; */
}
.gzg1 img{
    width: 5vw;
    height: 5vw;
    /* background-color: #122263; */
    position: relative;
    right: -31vw;
    top: 3vw;
}

.gzg2{
    width: 29vw;
    height: 25vw;
    /* background-color: rgb(169, 62, 62); */
    margin: auto;
    overflow: hidden;
}

.gzg2 img{
    width: 29vw;
    height: 25vw;
    /* background-color: rgb(169, 62, 62); */
    margin: auto;
    overflow: hidden;
}

@font-face {
    font-family: "myfontt";
    src: url("./typography/Montserrat/static/Montserrat-Bold.ttf");

}

.gzg3{
    width: 30vw;
    height: 5vw;
    /* background-color: yellowgreen; */
    margin: auto;
    text-align: center;
    font-family: myfonttt;
    font-size: 2vw;
    margin-top: 2vw;
   
}
.gzg4{
    width: 30vw;
    height: 5vw;
    color: #1587C8;
    margin: auto;
    text-align: center;
    font-family: myfonttt;
    font-size: 2vw;
    margin-top: 3vw;
}

.zhong{
    width: 16vw;
    height: 4vw;
    /* background-color: #1587C8; */
    margin: auto;
    font-size: 1.8vw;
    font-family: myfonttt;
    text-align: center;
    margin-top: 4vw;
    line-height: 4vw;
    background-color: #E8E8E8;
}

.zhong1{
    width: 18vw;
    height: 4vw;
    /* background-color: #1587C8; */
    margin: auto;
    font-size: 1.8vw;
    font-family: myfonttt;
    text-align: center;
    /* margin-top: 4vw; */
    line-height: 4vw;
    background-color: #ffffff;
    position: relative;
    left: -27vw;
    top: -10vw;
}

.gz8x1{
    font-size: 3vw;
    color: #ffffff;
    font-family: myfont;
    position: relative;
    top: -11vw;
    left: 4vw;
}

.xing1{
    position: absolute;
    width: 20vw;
    height: 5vw;
    /* background-color: #1587C8; */
    left: 30vw;
    justify-content: space-between;
    margin-top: 2vw;
}

.xing1 img{
    width: 3vw;
    height: 3vw;
    position: relative;
    z-index: 1;
    margin-left: 1vw;
}

.xing2{
    position: absolute;
    width: 20vw;
    height: 5vw;
    /* background-color: #1587C8; */
    left: 33vw;
    justify-content: space-between;
    top: 35vw;
   
}

.xing2 img{
    width: 3vw;
    height: 3vw;
    position: relative;
    z-index: 1;
    
}

.xingzi{
    width: 80%;
    height: 20vw;
    /* background-color: yellow; */
    position: absolute;
    left: 8vw;
    top: 8vw;
    text-align: center;
    font-size: 2vw;
    font-family: myfonttt;

}

.end{
    width: 100%;
    height: 90vw;
    background-color: #CEDCD5;
    /* border-bottom: 1px solid gray; */
    font-family: myfonttt;
    font-weight:500;

}

.enee{
    width: 100%;
    height: 5vw;
    background-color: #CEDCD5;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
}
.eee{
    width: 30vw;
    height: 5vw;
    font-size: 2vw;
    /* margin-left: 10vw; */
    /* background-color: #12633b; */
    text-align: center;
    margin-top: 1vw;
}
.et{
    width: 80%;
    height: 18vw;
    margin: auto;
    /* background-color: whitesmoke; */
}
.et img{
   
    height: 8vw;
    margin: auto;
    margin-left: 20vw;
    margin-top: 5vw;
}
.eez1{
    width: 80%;
    height: 4vw;
    /* background-color: violet; */
    margin: auto;
    font-size: 2vw;
}
.sl{
    width: 80%;
    height: 6vw;
    /* background-color: rgb(30, 22, 249); */
    margin: auto;
    display: flex;
}
.sizuo{
    width: 70%;
    height: 6vw;
    background-color: white;
}
.sizuo input{
    width: 100%;
    height: 5vw;
    font-size: 2vw;
    border: none;
}
.siyuo{
    width: 30%;
    height: 6vw;
    background-color: black;
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
    line-height: 6vw;

}
.fu{
    width: 80%;
    height: 40vw;
    /* background-color: yellow; */
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.fua2{
    width: 80%;
    height: 20vw;
    /* background-color: yellow; */
    position: relative;
    margin: auto;
    display: flex;
    /* border-bottom: 1px solid gray; */
    justify-content: space-between;
}
.fu1,.fu2,.fu3,.jq,.jqq{
   
    /* background-color: rgb(0, 229, 255); */
   
    border-left: 1px solid gray;
    margin-top: 3vw;
    padding-left: 1vw;
    font-family: myfonttt;

}
.fu1 h3{
    margin-bottom: 0vw;
}
.fu2 h3{
    margin-bottom: 1vw;
}
.fu3 h3{
    margin-bottom: 1vw;
}
.jd h3{
    margin-bottom: 1vw;
}
.fu1{
    width: 30%;
    height: 37vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 4vw;
}
.fu2{
    width: 30%;
    height: 31vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 3vw;
}
.fu3{
    width: 30%;
    height: 18vw;
    font-size: 1.5vw;
    font-family: myfonttt;
}
.jq{
    width: 30%;
    height: 14vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 2.5vw;
}
.jqq{
    width: 30%;
    height: 14vw;
    font-size: 1.5vw;
    font-family: myfonttt;
    line-height: 2.5vw;
    margin-left: 2vw;
}
.fua2 img{
    width: 17vw;
    position: relative;
    top: 8vw;
    left: 10vw;
}